@import "../../../mixins";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  @include desktop {
    justify-content: space-between;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    z-index: 1;
    @include desktop {
      display: none;
    }
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: #2455a3;
    }

    &.active .bar:nth-child(2) {
      opacity: 0;
    }

    &.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .logo {
    font-size: 2rem;
    font-weight: 600;
    color: #2455a3;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    opacity: 0;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    transition: opacity 0.4s ease-in-out;

    &.open {

      opacity: 1;
    }

    @include desktop {
      position: static;
      opacity: 1;
      flex-direction: row;
    }

    &_item {
      font-weight: 500;
      color: rgba(64, 64, 64, 0.8);
      padding: 1.5rem;
      white-space: nowrap;
    }
  }

  .buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    opacity: 0;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.4s ease-in-out;

    &.open {
      opacity: 1;
    }

    @include desktop {
      position: static;
      opacity: 1;
    }

    .button {
      border: none;
      background: none;
      font-weight: 500;
      padding: 12px 24px;
      margin: 0 8px;
    }

    .login {
      color: #2455a3;
    }

    .register {
      background: #2455a3;
      color: #ffffff;
      border-radius: 5px;
    }
  }
}

