<header>
  <p class="logo">MechOut</p>
  <div class="hamburger"  (click)="toggleMenu()" [ngClass]="{'active': isMenuOpen}">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
    <div class="menu" [ngClass]="{'open': isMenuOpen}">
      <a class="menu_item">Home</a>
      <a class="menu_item">About Us</a>
      <a class="menu_item">Mission</a>
      <a class="menu_item">Offer</a>
      <a class="menu_item">Contact Us</a>
    </div>
  <div class="buttons_container"  [ngClass]="{'open': isMenuOpen}">
    <button class="button login">Login</button>
    <button class="button register">Register</button>
  </div>


</header>
